<table class="table">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">Address</th>
    <th scope="col">Topic</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Philip Adikali</td>
    <td>Sesay</td>
    <td>New York</td>
    <td>Routing</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Isatu Magdalene</td>
    <td>Kamara</td>
    <td>Kargbo Drive</td>
    <td>Component and Data Binding</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>Yusifu Mohamed</td>
    <td>Barrie</td>
    <td>New Jersey</td>
    <td>Observables</td>
  </tr>
  <tr>
    <th scope="row">4</th>
    <td>Amadu Wurie</td>
    <td>Bah</td>
    <td>LamTee</td>
    <td>Forms</td>
  </tr>
  <tr>
    <th scope="row">5</th>
    <td>Abdul Karim</td>
    <td>Sesay</td>
    <td>Alie Timbo</td>
    <td>Attributes and Structural Directives</td>
  </tr>
  <tr>
    <th scope="row">6</th>
    <td>John S</td>
    <td>Turay</td>
    <td>Old Mabanta Road</td>
    <td>Pipes</td>
  </tr>
  <tr>
    <th scope="row">7</th>
    <td>Abdul Karim</td>
    <td>Jusu</td>
    <td>Family Without Borders</td>
    <td>Http Request</td>
  </tr>
  <tr>
    <th scope="row">8</th>
    <td>Michael Ezekiel</td>
    <td>Humbo</td>
    <td>Kandeh Mansaray Street</td>
    <td>Services and Dependency Injection</td>
  </tr>
  </tbody>
</table>
<!--<h2 *ngIf="color; else elseBlock">We are just doing fine</h2>-->
<!--<ng-template #elseBlock>-->
<!--  <h2>This is the substitute of the first printout</h2>-->
<!--</ng-template>-->
<!--<div [ngSwitch]="anothercolor">-->
<!--  <div *ngSwitchCase="'red'">You have choose the red color</div>-->
<!--  <div *ngSwitchCase= "'blue'">You have choose the blue color</div>-->
<!--  <div *ngSwitchCase="'green'">You have choose the green color</div>-->
<!--  <div *ngSwitchCase="'yellow'">You have choose the yellow color</div>-->
<!--  <div *ngSwitchDefault>please choose the right choice</div>-->
<!--</div>-->
